$color-main: #ea841e;
$color-secondary: #4444b7;
$color-white: #fff;
$color-black: #000;
$color-google-blue: #4285f4;
$color-athens-gray: #e2e5e9;
$color-red: #cb1d1d;
$color-deep-koamaru: #131379;

$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1536px;
$breakpoint-hd: 1920px;
